.registration {
	border: 2px solid lightblue;
	display: grid;
	place-content: center;
	height: 88vh;
}

.registration__title {
	text-align: center;
	margin-bottom: 1.2rem;
	font-weight: 500;
}

.registration__form {
	display: grid;
	justify-items: center;
	gap: 1.2rem;
}

.registration__form-items {
	display: grid;
	gap: 1rem;
	margin: 0 auto;
}

.registration__form-button {
	justify-self: center;
	margin-top: 1rem;
}

.registration__hint {
	margin-top: 2rem;
}